@model TrangSucSolution.Models.NhanVien
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <h3 class="text-center">LOGIN</h3>
            @using (Html.BeginForm("Admin", "Login", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.EditorFor(model => model.ID, "Username", new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Username" } })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.ID, "Password", new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Password", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                </div>
                <p style="color:red;">
                    @Html.DisplayFor(model => model.LoginErroMessage)
                </p>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-lg btn-block">Sign In</button>
                </div>
            }

        </div>
    </div>
</div>



